/*
    Selects styles for Index App
*/
// Material.io does not theme anchor elements that are not buttons:
a {
    &.index {
        &:link {
            color: var(--link-color);
        }
        &:active {
            color: var(--link-visited-color);
        }
        &:visited {
            color: var(--link-visited-color);
        }

        &:link,
        &:active,
        &:visited {
            text-decoration: var(--link-text-decoration);
        }
        &:hover {
            text-decoration: var(--link-hover-text-decoration);
            text-decoration-color: var(--link-hover-text-decoration-color);
        }
    }
}
